<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{

    }
    <title>@ViewData["Title"] - WebBanHangLapTop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebBanHangLapTop.styles.css" asp-append-version="true" />

</head>
<body>

    <header class="bg-success text-white text-center py-4">
        <h1>Website bán hàng</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container">
            <a class="navbar-brand" href="#">Trang Chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <a class="btn btn-primary mx-3" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
                    <a class ="btn btn-primary mx-3" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @*hiển thị thông tin khác nhau *@
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebBanHangLapTop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/js/main.js" asp-append-version="true"> </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
